/nbproject/private/
/SuperMercado-war/nbproject/private/
/SuperMercado-ejb/nbproject/private/
/SuperMercado-ejb/build/
/SuperMercado-ejb/dist/
/SuperMercado-war/build/
/build/
/SuperMercado-war/dist/
/dist/